{% include 'base.html.twig' %}
<main id="main" class="main">
{% block body %}
<div class="pagetitle">
<h1>Liste des  évènements <small>
{% if is_granted('ROLE_AGENT') %}
<a href="{{path('add_evenement')}}">| Ajouter</a></small></h1>
{% endif %}
<nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> évènement </li>
          <li class="breadcrumb-item active">Consulter</li>
        </ol>
      </nav>
</div>
{% for msg in app.flashes('notice') %}
{{msg}}
{% endfor %}
<div class="row">
{% for evenement in lesEvenements %}
        <div class="col-sm-3">
          <div class="card">
            <img src="{{ publicPath ~ evenement.image }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"> {{ evenement.libelleE }} </h5>
              <h6 class="card-subtitle mb-2 text-muted"> {{ evenement.dateE | date('d-m-Y')}} </h6>
              <h6 class="card-subtitle mb-2 text-muted"> {{ evenement.lieuE }} </h6>
              <p class="card-text">{{ evenement.description }} </p>
              {# <a href="{{ evenement.link }}" class="btn btn-light rounded-pill">Lien util</a> #}
              {% if is_granted('ROLE_AGENT') %}
              <a class="btn btn-info rounded-pill" href="{{ path('edit_evenement', {'id':evenement.id }) }}" onclick="return confirm('Êtes-vous sûr de modifier le champ d'identité {{ evenement.id }}')">Modifier</a>
              <a class="btn btn-secondary rounded-pill" href="{{ path('delete_evenement', {'id':evenement.id }) }}" onclick="return confirm('Êtes-vous sûr de supprimer le champ d'identité {{ evenement.id }}')">Supprimer</a>
              {% endif %}
            </div>
          </div>
        </div>
{% endfor %}
</div>
</main><!-- End #main -->
{% endblock %}
