{% include "base.html.twig" %}
{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ Niveau.getLibelleN }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Niveau</a></li>
          <li class="breadcrumb-item">Consulter</li>
          <li class="breadcrumb-item active">Voir</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="card">
        <div class="card-body">
        <h5 class="card-title">Groupes du Niveau</h5>
        <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Annee Universitaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in lesGroupes %}
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td>{{ groupe.libelleG }}</td>
                {% if groupe.type == 1 %}
                <td>Jour</td>
                {% else %}
                <td>Soir</td>
                {% endif %}
                <td>{{ groupe.getAnneeUniversitaire().getLibelleAU }}</td>
                <td>
                <a class="btn btn-outline-primary" href="{{ path('groupe', {'id':groupe.id }) }}">Voir</a>
                {# <a class="btn btn-outline-info" href="{{ path('edit_groupe', {'id':groupe.id }) }}" onclick="return confirm('Are you sure to add student for {{ groupe.id }}')">Modifier</a> #}
                {# <a class="btn btn-outline-secondary" href="{{ path('delete_groupe', {'id':groupe.id }) }}" onclick="return confirm('Are you sure to delete {{ groupe.id }}')">Supprimer</a> #}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">#</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Annee Universitaire</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    </div>
    </div>
    </section>

  </main><!-- End #main -->
{% endblock %}